<h1>New poll_answer</h1>

<% form_for(@poll_answer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :answer %><br />
    <%= f.text_field :answer %>
  </p>
  <p>
    <%= f.label :vote_count %><br />
    <%= f.text_field :vote_count %>
  </p>
  <p>
    <%= f.label :poll_question_id %><br />
    <%= f.text_field :poll_question_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', poll_answers_path %>